<div class="GlobalContainer">



  <div class="body">

    <h1 class="fw-bold">Examen tejidos blandos</h1>

    <div class="form_tejidos_blandos">


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.labios" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked21">
        <label class="form-check-label" for="flexCheckChecked21">
          Labios
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.carrillos" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked22">
        <label class="form-check-label" for="flexCheckChecked22">
          Carrillos
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.frenillos" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked23">
        <label class="form-check-label" for="flexCheckChecked23">
          Frenillos
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.encias" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked24">
        <label class="form-check-label" for="flexCheckChecked24">
          Encias
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.paladar" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked25">
        <label class="form-check-label" for="flexCheckChecked25">
          Paladar
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.lengua" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked26">
        <label class="form-check-label" for="flexCheckChecked26">
          Lengua
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.orofaringe" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked27">
        <label class="form-check-label" for="flexCheckChecked27">
          Orofaringe
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.glandulas" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked28">
        <label class="form-check-label" for="flexCheckChecked28">
          Glandulas
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.piso_boca" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked29">
        <label class="form-check-label" for="flexCheckChecked29">
          Piso boca
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="tejidos_blandos.musculos_masticatorios" class="form-check-input" type="checkbox" value="si"
          id="flexCheckChecked210">
        <label class="form-check-label" for="flexCheckChecked210">
          Musculos masticatorios
        </label>
      </div>


      <div class="form-floating" id="observaciones">
        <textarea [(ngModel)]="tejidos_blandos.otros" name="observaciones" class="form-control" id="floatingInput"
          placeholder="planTratamiento" cols="300" rows="10"></textarea>

        <label for="floatingInput">Otros</label>
      </div>




      <br>



    </div>

  </div>
