<div class="containerGlobal">

  <app-navbar></app-navbar>


  <div class="containerhome">
    <div class="containerBody">






      <!-- tarjeta paciente -->

      <div class="container">
        <div class="card" routerLink="/history-search" routerLinkActive="active" tabindex="1" style="cursor: pointer;">
          <img class="card-img-top" src="../../../assets/images/home/Pacientes.png" alt="Card image cap" height="210">
          <div class="card-body">
            <h5 class="card-title">Pacientes</h5>
            <p class="card-text">Buscador de registros e historiales relacionados a un paciente</p>
          </div>
        </div>
      </div>



      <!-- tarjeta odontologia -->
      <div class="container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/home/Odontologia.png" alt="Card image cap" height="200">
          <div class="card-body">
            <h5 class="card-title">Odontología</h5>


            <a href="#" class="btn btn-primary"  routerLink="/new-history" routerLinkActive="active">Nuevo</a>
            <a href="#" class="btn btn-primary"  routerLink="/history-search" routerLinkActive="active" >Buscar</a>


          </div>
        </div>
      </div>


      <!-- tarjeta Ortodoncia -->
      <div class="container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/home/Ortodoncia.png" alt="Card image cap" height="200">
          <div class="card-body">
            <h5 class="card-title">Ortodoncia</h5>


            <a href="#" class="btn btn-primary"  routerLink="/new-history-ortodoncia" routerLinkActive="active">Nuevo</a>
            <a href="#" class="btn btn-primary"  routerLink="/history-search" routerLinkActive="active">Buscar</a>


          </div>
        </div>
      </div>



      <!-- tarjeta registros -->
      <div class="container">
        <div class="card"  routerLink="/records" routerLinkActive="active" tabindex="1" style="cursor: pointer;">
          <img class="card-img-top" src="../../../assets/images/home/Registros.png" alt="Card image cap" height="210">
          <div class="card-body">
            <h5 class="card-title">Registros</h5>
            <p class="card-text">Buscador y visualizador de registros de citas y procedimientos</p>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>


