
  
  .form{
      width: 360px;
      height: 550px;
      border-radius: 15px;
      background-color: rgb(224,224,224);
      
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      
   


  }
  .form-floating{
      margin: 20px;
  }
  .btn{
  
      width: 280px;
      background-color: rgb(171, 65, 129);
      border-color:  rgb(171, 65, 129);
  }

  .btn:hover{
    background-color:  rgb(216, 73, 159);
}

  
  