<div class="GlobalContainer">



  <div class="body">

    <h1 class="fw-bold">Anamnesis</h1>

    <div class="form_ananmesis">


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.hipertencion"  class="form-check-input" type="checkbox" value="si" id="flexCheckChecked1" >
        <label class="form-check-label" for="flexCheckChecked1">
          Hiper tencion
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.enfe_respiratorias" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked2" >
        <label class="form-check-label" for="flexCheckChecked2">
          Enfermedades respiratorias
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.cardiopatias" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked3" >
        <label class="form-check-label" for="flexCheckChecked3">
          Cardiopatias
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.sistema_digestivo" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked4" >
        <label class="form-check-label" for="flexCheckChecked4">
          Sistema digestivo
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.fiebre_reumatica" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked5" >
        <label class="form-check-label" for="flexCheckChecked5">
          Fiebre reumatica
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.hepatitis" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked6" >
        <label class="form-check-label" for="flexCheckChecked6">
          Hepatitis
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.enfer_renales" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked7" >
        <label class="form-check-label" for="flexCheckChecked7">
          Enfermedades renales
        </label>
      </div>



      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.enfer_gastrointestinales" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked8" >
        <label class="form-check-label" for="flexCheckChecked8">
          Enfermedades gastrointestinales
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.quirurgico" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked9" >
        <label class="form-check-label" for="flexCheckChecked9">
          Quirurgico
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.traumatico" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked10" >
        <label class="form-check-label" for="flexCheckChecked10">
          Traumatico
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.tratamiento_medico" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked11" >
        <label class="form-check-label" for="flexCheckChecked11">
          Tratamiento medico
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.toma_medicamento" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked111" >
        <label class="form-check-label" for="flexCheckChecked111">
          Toma Medicamento
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.alergia" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked12" >
        <label class="form-check-label" for="flexCheckChecked12">
          Alergias
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.embarazo" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked13" >
        <label class="form-check-label" for="flexCheckChecked13">
          Embarazo
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.diabetes" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked14" >
        <label class="form-check-label" for="flexCheckChecked14">
          Diabetes
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.neoplasias" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked15" >
        <label class="form-check-label" for="flexCheckChecked15">
          Neoplasias
        </label>
      </div>

      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.enfer_hemorrogicas" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked16" >
        <label class="form-check-label" for="flexCheckChecked16">
          Enfermedad hemorragica
        </label>
      </div>


      <div class="form-check" id="checkBox">
        <input [(ngModel)]="anamnesis.nf_neurologicas" class="form-check-input" type="checkbox" value="si" id="flexCheckChecked17" >
        <label class="form-check-label" for="flexCheckChecked17">
          NF. neurologicas
        </label>
      </div>



      <div class="grupoSangineo" id="radioButton">
        <label for="text">Grupo sangineo: </label>
        <div class="form-check form-check-inline" id="A">
          <input [(ngModel)]="anamnesis.grupo_sangineo" class="form-check-input" type="radio" name="grupoSangineo" id="inlineRadio1" value="A">
          <label class="form-check-label" for="inlineRadio1">A</label>
        </div>

        <div class="form-check form-check-inline" id="B">
          <input [(ngModel)]="anamnesis.grupo_sangineo" class="form-check-input" type="radio" name="grupoSangineo" id="inlineRadio1" value="B">
          <label class="form-check-label" for="inlineRadio1">B</label>
        </div>

        <div class="form-check form-check-inline" id="AB">
          <input [(ngModel)]="anamnesis.grupo_sangineo" class="form-check-input" type="radio" name="grupoSangineo" id="inlineRadio1" value="AB">
          <label class="form-check-label" for="inlineRadio1">AB</label>
        </div>

        <div class="form-check form-check-inline" id="O">
          <input [(ngModel)]="anamnesis.grupo_sangineo" class="form-check-input" type="radio" name="grupoSangineo" id="inlineRadio1" value="O">
          <label class="form-check-label" for="inlineRadio1">O</label>
        </div>
      </div>


      <div class="rh" id="radioButton">
        <label for="text">RH: </label>
        <div class="form-check form-check-inline" id="+">
          <input [(ngModel)]="anamnesis.rh" class="form-check-input" type="radio" name="rh" id="inlineRadio1" value="+">
          <label class="form-check-label" for="inlineRadio1">+</label>
        </div>

        <div class="form-check form-check-inline" id="-">
          <input [(ngModel)]="anamnesis.rh" class="form-check-input" type="radio" name="rh" id="inlineRadio1" value="-">
          <label class="form-check-label" for="inlineRadio1">-</label>
        </div>
      </div>

      <div class="form-floating" id="observaciones">
        <textarea [(ngModel)]="anamnesis.observaciones" name="observaciones" class="form-control" id="floatingInput" placeholder="planTratamiento"cols="300" rows="10"></textarea>

        <label for="floatingInput">Observaciones</label>
      </div>

    </div>

    <br>



  </div>
</div>
